body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #092a35;
  background-color: #f8f9fc;
}

.ghibliLogo {
  width: 45vh;
}

ul li {
  list-style: none;
  margin: 5px;
  font-size: 2vh;
}

.title {
  font-weight: 500;
  font-size: large;
  font-size: 2.5vh;
}

.director {
  font-weight: 400;
  font-size: 2vh;
}
